<%- include("partials/header") %>
<h1>About</h1>
<div class="about-me mb-4">
    <div class="profile-img">
        <img id="Profile-Picture" src="../public/images/Robert2.jpg" alt="Profile-Picture">
       
    </div>
    <div class="About-text">
        <div class="container">
            <h2>Hi, I’m Robert</h2>
            <p class="card__text"><%= about %> </p>
        </div>
    </div>

</div>

<%- include("partials/footer") %>