img {
    padding: 30px 0;
}
hr {
    border-top: 3px solid rgba(255, 192, 203, 0.623);
}
.main-container {
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}

.navbar-nav li a:hover {
    color: #8946A6 !important;
}

.footer-padding {
    padding-bottom: 60px;
}

.footer {
    position: relative;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 60px;
    background-color: #8946A6;
}

.footer p {
    margin-top: 25px;
    font-size: 12px;
    color: #fff;
}

.blog-img {
    width: 400px;
}

.container {
  padding: 0 30px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.7px);
    -webkit-backdrop-filter: blur(4.7px);
    border: 1px solid rgba(255, 255, 255, 0.38);
}
